<% content_for :title, "Categories" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
    <%= link_to "New category", new_admin_category_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

<div class="bg-white rounded-lg shadow">
    <table class="min-w-full">
      <thead>
        <tr class="border-b">
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Image</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Name</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Description</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @admin_categories.each do |c| %>
          <tr>
            <td class="px-6 py-4 text-sm text-gray-800"><%= c.image.present? ? image_tag(c.image.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %></td>
            <td class="px-6 py-4 text-sm text-gray-800"><%= c.name %></td>
            <td class="px-6 py-4 text-sm text-gray-600"><%= c.description %></td>
            <td class="px-6 py-4 text-sm">
              <div class="flex space-x-2">
                <%= link_to 'Edit', edit_admin_category_path(c), 
                    class: 'rounded-md px-3.5 py-2.5 text-white bg-[#FF9119] hover:bg-[#FF9119]/80 text-white block font-medium' %>
                <%= link_to 'Delete', admin_category_path(c), 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, 
                    class: 'rounded-md px-3.5 py-2.5 bg-red-600 hover:bg-red-500 text-white block font-medium' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>
</div>
